<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title> Phaser 3 Edit Object </title>
    <link rel="stylesheet" type="text/css" href="./views/canvas.css" />
    
    

    <script type="module">
        import COMPONENTS from "./views/controllers/htmlWidgets/GameCanvas.js"
        const {
            GameCanvas,
            RightPanel,
            // LeftPanel
        } = COMPONENTS

        GameCanvas(document)
        RightPanel(document)
        // LeftPanel(document)

        
    </script>

    <script src="../utils/3.18.1.js"></script>
    <script type="module" src="./views/controllers/edit.js"></script>

    

</head>

<body>
</body>

</html>